<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.isaac.mysurvey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Question2Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question1Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question5Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question6Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question7Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question8Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question9Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Question10Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Question11Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Question12Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Question4Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Question3Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FinishActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>